In [2]:
#Pitchfork reviews - Based on reviews data when is the best way and time to launch a new group?

#import libraries
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Connect to sqlite db
db_file = r'database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))
sql = "select name from sqlite_master where type = 'table';"

table_df = pd.read_sql(sql, engine)

table_df

      name
0  reviews
1  artists
2   genres
3   labels
4    years
5  content

In [32]:
sql1 = "select * from reviews;"

reviews_df = pd.read_sql(sql1, engine)

reviews_df.describe()

,reviewid,score,best_new_music,pub_weekday,pub_day,pub_month,pub_year
count,18393.000000,18393.000000,18393.000000,18393.000000,18393.000000,18393.000000,18393.000000
mean,12344.876529,7.005779,0.051270,2.106508,15.529006,6.283532,2008.678465
std,6318.857619,1.293675,0.220553,1.635406,8.757538,3.317349,4.626094
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1999.000000
25%,7445.000000,6.400000,0.000000,1.000000,8.000000,3.000000,2005.000000
50%,12804.000000,7.200000,0.000000,2.000000,15.000000,6.000000,2009.000000
75%,17658.000000,7.800000,0.000000,3.000000,23.000000,9.000000,2013.000000
max,22745.000000,10.000000,1.000000,6.000000,31.000000,12.000000,2017.000000

In [38]:
reviews_df.head()

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
2,22659,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017
3,22661,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017
4,22725,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017

In [39]:
reviews_df.drop('url', axis=1)

,reviewid,title,artist,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
2,22659,all of them naturals,uranium club,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017
3,22661,first songs,"kleenex, liliput",9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017
4,22725,new start,taso,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017
5,22722,insecure (music from the hbo original series),various artists,7.4,0,vanessa okoth-obbo,contributor,2017-01-05,3,5,1,2017
6,22704,stillness in wonderland,little simz,7.1,0,katherine st. asaph,contributor,2017-01-05,3,5,1,2017
7,22694,tehillim,yotam avni,7.0,0,andy beta,contributor,2017-01-05,3,5,1,2017
8,22714,reflection,brian eno,7.7,0,andy beta,contributor,2017-01-04,2,4,1,2017
9,22724,filthy america its beautiful,the lox,5.3,0,ian cohen,contributor,2017-01-04,2,4,1,2017
10,22715,clear sounds/perfetta,harry bertoia,8.0,0,marc masters,contributor,2017-01-04,2,4,1,2017
11,22745,run the jewels 3,run the jewels,8.6,1,sheldon pearce,associate staff writer,2017-01-03,1,3,1,2017
12,22700,nadir,steven warwick,7.6,0,thea ballard,contributor,2017-01-03,1,3,1,2017
13,22720,december 99th,yasiin bey,3.5,0,marcus j. moore,contributor,2017-01-02,0,2,1,2017
14,22699,don't smoke rock,"smoke dza, pete rock",7.4,0,dean van nguyen,contributor,2017-01-02,0,2,1,2017
15,22665,punk45: les punks: the french connection (the ...,various artists,6.6,0,louis pattison,contributor,2017-01-02,0,2,1,2017
16,22666,brnshj (puncak),senyawa,7.4,0,philip sherburne,contributing editor,2017-01-02,0,2,1,2017
17,22719,merry christmas lil mama,"chance the rapper, jeremih",8.1,0,sheldon pearce,associate staff writer,2016-12-30,4,30,12,2016
18,22667,///// effectual,jamire williams,7.2,0,benjamin scheim,contributor,2016-12-30,4,30,12,2016
19,22691,love you to death,the-dream,7.0,0,rebecca haithcoat,contributor,2016-12-29,3,29,12,2016
20,22702,what graceless dawn,worm ouroboros,7.5,0,sam sodomsky,associate staff writer,2016-12-29,3,29,12,2016
21,22718,not the actual events ep,nine inch nails,6.3,0,benjamin scheim,contributor,2016-12-28,2,28,12,2016
22,22706,holy science,elder ones,7.8,0,seth colter walls,contributor,2016-12-28,2,28,12,2016
23,22695,"early tapes, 1996-1998",the microphones,6.5,0,benjamin scheim,contributor,2016-12-27,1,27,12,2016
24,22713,the wasp factory,ben frost,7.3,0,brian howe,contributor,2016-12-27,1,27,12,2016
25,22705,a very kacey christmas,kacey musgraves,6.8,0,marc hogan,senior staff writer,2016-12-23,4,23,12,2016
26,22532,turn into,jay som,8.2,0,quinn moreland,assistant editor,2016-12-23,4,23,12,2016
27,22701,traditional music of notional species vol. ii,rashad becker,6.8,0,andy beta,contributor,2016-12-23,4,23,12,2016
28,22707,swiss radio days vol. 41 - zurich 1961,ray charles,9.0,1,seth colter-walls,contributor,2016-12-22,3,22,12,2016
29,22708,do what thou wilt.,ab-soul,4.4,0,sheldon pearce,associate staff writer,2016-12-22,3,22,12,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
18363,831,13,blur,9.1,0,brent dicrescenzo,contributor,1999-03-23,1,23,3,1999
18364,7339,axxess and ace,songs: ohia,8.0,0,taylor m. clark,None,1999-03-15,0,15,3,1999
18365,4850,up a tree,looper,8.1,0,chip chanko,None,1999-03-09,1,9,3,1999
18366,8598,singles 1989-1991,the wedding present,5.5,0,jason josephes,contributor,1999-03-09,1,9,3,1999
18367,1608,fm (fantasma remixes),cornelius,7.5,0,ryan schreiber,editor-in-chief,1999-03-09,1,9,3,1999
18368,1610,cm: cornelius mix,cornelius,5.4,0,nick mirov,None,1999-03-09,1,9,3,1999
18369,4324,rehearsals for departure,damien jurado,8.2,0,ryan schreiber,editor-in-chief,1999-03-04,3,4,3,1999
18370,7449,budakhan mindphone ep,squarepusher,7.5,0,ryan schreiber,editor-in-chief,1999-03-02,1,2,3,1999
18371,1514,clinic,clinic,8.0,0,s. murray,None,1999-03-01,0,1,3,1999
18372,8677,summerteeth,wilco,9.4,0,neil lieberman,None,1999-02-28,6,28,2,1999
18373,7051,the sebadoh,sebadoh,7.4,0,shan fowler,None,1999-02-23,1,23,2,1999
18374,6435,new world record,poster children,8.1,0,bruce tiffee,None,1999-02-23,1,23,2,1999
18375,1014,keep it like a secret,built to spill,9.3,0,jason josephes,contributor,1999-02-23,1,23,2,1999
18376,7460,fell in love at 22 ep,starflyer 59,8.5,0,ryan schreiber,editor-in-chief,1999-02-23,1,23,2,1999
18377,2965,can you still feel,jason falkner,5.8,0,shan fowler,None,1999-02-23,1,23,2,1999
18378,7981,burning blue soul,the the,7.6,0,michael sandlin,None,1999-02-23,1,23,2,1999
18379,8835,"apple venus, volume one",xtc,8.2,0,zach hooker,None,1999-02-23,1,23,2,1999
18380,6138,a,pan sonic,7.4,0,mark richard-san,None,1999-02-23,1,23,2,1999
18381,1242,califone,califone,9.2,0,mark richard-san,None,1999-02-18,3,18,2,1999
18382,1023,mission: control!,burning airlines,8.4,0,brent dicrescenzo,contributor,1999-02-16,1,16,2,1999
18383,287,all-in,arling and cameron,8.0,0,jason josephes,contributor,1999-02-11,3,11,2,1999
18384,3741,trad arr jones,john wesley harding,7.3,0,neil lieberman,None,1999-02-09,1,9,2,1999
18385,6455,sam prekop,sam prekop,8.9,0,ryan schreiber,editor-in-chief,1999-02-09,1,9,2,1999
18386,361,peel session,autechre,7.7,0,ryan schreiber,editor-in-chief,1999-02-09,1,9,2,1999
18387,6372,cd 2,pole,7.2,0,mark richard-san,None,1999-02-01,0,1,2,1999
18388,1535,let us replay!,coldcut,8.9,0,james p. wisdom,None,1999-01-26,1,26,1,1999
18389,1341,1999,cassius,4.8,0,james p. wisdom,None,1999-01-26,1,26,1,1999
18390,5376,out of tune,mojave 3,6.3,0,jason josephes,contributor,1999-01-12,1,12,1,1999
18391,2413,"singles breaking up, vol. 1",don caballero,7.2,0,james p. wisdom,None,1999-01-12,1,12,1,1999
18392,3723,left for dead in malaysia,neil hamburger,6.5,0,jason josephes,contributor,1999-01-05,1,5,1,1999

In [67]:
#Create new dataframe with score higher then 8
df2 = reviews_df.loc[reviews_df['score'] > 8]

pd.pivot_table(df2, index=['pub_month', 'pub_day', 'pub_weekday'], values=['score'], aggfunc='mean')

                                  score
pub_month pub_day pub_weekday
1         1       1            8.100000
          2       1            8.400000
                  2            8.333333
          3       1            8.466667
                  2            8.100000
                  3            8.666667
          4       0            8.600000
                  3            8.100000
                  4            8.400000
          5       0            8.866667
                  1            8.400000
                  2            8.200000
                  3            9.400000
                  4            8.350000
                  6            8.500000
          6       0            8.800000
                  1            8.500000
                  2            8.200000
                  4            8.400000
          7       0            8.300000
                  1            8.300000
                  2            8.200000
                  3            8.500000
                  4            8.200000
          8       1            8.233333
                  3            8.450000
                  4            8.350000
                  6            9.300000
          9       0            8.800000
                  1            8.500000
...                                 ...
12        11      3            8.600000
                  4            8.500000
                  6            8.100000
          12      1            8.700000
                  2            9.100000
                  3            8.850000
                  4            8.780000
          13      0            8.650000
                  1            8.200000
                  2            8.200000
                  3            9.150000
                  4            9.000000
          14      1            8.650000
                  2            8.850000
                  3            8.500000
                  4            9.200000
          15      2            8.400000
                  3            8.750000
                  6            8.500000
          16      3            8.550000
                  6            8.700000
          18      1            8.550000
          19      2            8.400000
                  4            9.400000
          22      3            9.000000
          23      4            8.200000
          30      4            8.100000
          31      0            8.100000
                  4            9.500000
                  6            8.500000

[1587 rows x 1 columns]

In [9]:
sql2 = "select * from artists;"

artists_df = pd.read_sql(sql2, engine)

artists_df.head()

   reviewid          artist
0     22703  massive attack
1     22721        krallice
2     22659    uranium club
3     22661         kleenex
4     22661         liliput

In [33]:
sql3 = "select * from genres;"

genres_df = pd.read_sql(sql3, engine)

genres_df.describe()

           reviewid
count  22680.000000
mean   12035.639506
std     6235.747382
min        1.000000
25%     7100.000000
50%    12429.000000
75%    17065.000000
max    22745.000000

In [11]:
sql4 = "select * from labels;"

labels_df = pd.read_sql(sql4, engine)

labels_df.head()

   reviewid               label
0     22703              virgin
1     22721           hathenter
2     22659        static shock
3     22659  fashionable idiots
4     22661     kill rock stars

In [12]:
sql5 = "select * from years;"

years_df = pd.read_sql(sql5, engine)

years_df.head()

   reviewid    year
0     22703  1998.0
1     22721  2016.0
2     22659  2016.0
3     22661  2016.0
4     22725  2016.0

In [23]:
#How to combine tables????
import numpy as np
reviews_df['genre'] = np.where(reviews_df['reviewid'] == genres_df['reviewid'], 'yes', 'no')

reviews_df.head()

ValueError: Can only compare identically-labeled Series objects

In [35]:
np.where?

In [36]:
df_new = pd.concat([reviews_df, genres_df,labels_df], axis=1, ignore_index=True)
df_new.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,22703.0,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0.0,nate patrin,contributor,2017-01-08,6.0,8.0,1.0,2017.0,22703,electronic,22703.0,virgin
1,22721.0,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0.0,zoe camp,contributor,2017-01-07,5.0,7.0,1.0,2017.0,22721,metal,22721.0,hathenter
2,22659.0,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0.0,david glickman,contributor,2017-01-07,5.0,7.0,1.0,2017.0,22659,rock,22659.0,static shock
3,22661.0,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1.0,jenn pelly,associate reviews editor,2017-01-06,4.0,6.0,1.0,2017.0,22661,rock,22659.0,fashionable idiots
4,22725.0,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0.0,kevin lozano,tracks coordinator,2017-01-06,4.0,6.0,1.0,2017.0,22725,electronic,22661.0,kill rock stars

In [27]:
pd.concat?

In [31]:
df_new2 = reviews_df.join(genres_df)
df_new2.head()

ValueError: columns overlap but no suffix specified: Index([u'reviewid'], dtype='object')